@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #156155;      
  --color-secondary: #9FC244;    
  --color-accent: #F5F9EA;      
  --color-gray-dark: #939393;    
  --color-gray-medium: #F2F2F2;  
  --color-gray-light: #F8F8F8;   
  --color-white: #FFFFFF;        
  --color-black: #000000;        
}

* {
  font-family: 'Satoshi';
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;
}

h1, h2 {
  color: var(--color-primary);
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  text-align: center;
  padding-bottom: 3rem;
}

h3 {
  color: var(--color-secondary);
}

a {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator, .separator-dark {
  height: 1px;
  width: 100%;
}

.separator {
  background-color: #e7e7e7;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}

.separator-dark {
  background-color: #2828283f;
  box-shadow: 0px 0px 3px 0px #27272794;
}

.detail-footer-testimonials {
  height: 5px;
  width: 100%;
  background: 
    linear-gradient(to right, rgba(159, 194, 68, 0.3) 0% 25%,
    rgba(159, 194, 68, 0.5) 25% 50%,
    rgba(159, 194, 68, 0.7) 50% 75%,
    rgba(159, 194, 68, 1) 75% 100%);
}

input {
  width: 100%;
  padding: 0.35rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.3rem;
  background-color: #fff;
  color: #111827;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

input:hover {
  border-color: #9FC244;
}

input:focus {
  border-color: #9FC244;
  box-shadow: 0 0 0 3px rgba(159, 194, 68, 0.3);
}

input:active {
  border-color: #9FC244;
}

input::placeholder {
  color: #6b7280;
  opacity: 1;
}

.checkbox-wrapper * {
   box-sizing: border-box;
}

.checkbox-wrapper .checkbox {
   -webkit-user-select: none;
   user-select: none;
   cursor: pointer;
   padding: 6px 8px 6px 0;
   border-radius: 6px;
   overflow: hidden;
   transition: all 0.2s ease;
   display: inline-block;
}

.checkbox-wrapper .checkbox:not(:last-child) {
   margin-right: 6px;
}

.checkbox-wrapper .checkbox:hover {
   background: rgba(159,194,68,0.06);
}

.checkbox-wrapper .checkbox span {
   float: left;
   vertical-align: middle;
   transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .checkbox span:first-child {
   position: relative;
   width: 18px;
   height: 18px;
   border-radius: 4px;
   transform: scale(1);
   border: 1px solid #cccfdb;
   transition: all 0.2s ease;
   box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox-wrapper .checkbox span:first-child svg {
   position: absolute;
   top: 3px;
   left: 2px;
   fill: none;
   stroke: #fff;
   stroke-width: 2;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-dasharray: 16px;
   stroke-dashoffset: 16px;
   transition: all 0.3s ease;
   transition-delay: 0.1s;
   transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .checkbox span:last-child {
   padding-left: 8px;
   line-height: 18px;
}

.checkbox-wrapper .checkbox:hover span:first-child {
   border-color: var(--color-primary);
}

.checkbox-wrapper .input {
   position: absolute;
   visibility: hidden;
}

.checkbox-wrapper .input:checked + .checkbox span:first-child {
   background: var(--color-primary);
   border-color: var(--color-primary);
   animation: wave 0.4s ease;
}

.checkbox-wrapper .input:checked + .checkbox span:first-child svg {
   stroke-dashoffset: 0;
}

.checkbox-wrapper .inline-svg {
   position: absolute;
   width: 0;
   height: 0;
   pointer-events: none;
   user-select: none;
}

@keyframes wave {
   50% {
      transform: scale(0.9);
   }
}


@media (min-width: 320px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  .container-section {
    padding: 5rem 2rem;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .container-section {
    padding: 4.5rem 4rem 7rem;
  }
}